.task{
    background-color: rgb(64, 64, 64);
    width: 400px;
    margin: 8px 4px;
    padding: 3px 3px 3px 10px; 
    border-radius: 4px;
}

.task div{
    display:inline-block;
    padding-bottom: 2px;
}

.task-done .task-text{
    color: rgb(128, 128, 128);
    text-decoration: line-through
}
.task-done .task-check{
    background-color: rgb(0, 195, 0);
}

.task-text{
    margin-top: 2px;
}
.task-marks{
    float: right;
    margin-right: 5px;
}
.task-marks div{
    text-align: center;
    margin-left: 5px;
    width: 24px;
    background-color: rgb(96, 96, 96);
    border-radius: 5px;
    cursor: pointer
}

.task-check:hover{
    background-color: rgb(128, 128, 128);
}
.task-delete:hover{
    background-color: rgb(225, 0, 0);
}