* {
    box-sizing: border-box;
}

html{
    color: white;
    background-color: rgb(32, 32, 32);
}

header{
    width: 420px;
    margin: 0 auto;
}

#root{
    align-self:auto;
    width: 400px;
    margin: 50px auto;
}